<h1>Navbar</h1>
<h1>Body</h1>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi quibusdam dicta sequi doloremque magnam, repudiandae
    optio excepturi, aliquid sit ullam, earum architecto vel fuga similique quis debitis rem? Voluptate, repellendus?
</p>
<h1>Footer</h1>